body {
    background-color: rgb(134, 156, 218);
}
   
 footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}
/* código omitido */

#container {
    display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     padding: 4rem;
     gap: 3rem;
}

/* código omitido */
/* código omitido */
footer p {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}
body {
    background-color: bisque;
    font-family: Bai Jamjuree;
}
/* código omitido */
.cartao {
    margin: 1rem 1rem;
    background-color: rgb(5, 88, 156);
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}

.cartao__conteudo {
    text-align: center;
    /*background-color: aquamarine;*/
    height: 100%;
}

/* código omitido */
body {
    background: url(file:///C:/Users/pc/Desktop/Nova%20pasta/Nova%20Imagem%20de%20Bitmap.bmp);
    font-family: Bai Jamjuree;
}
:root {
    --text-color: #DBE4EF;
    --card-front-color: #144480;
    --card-back-color: #00F4BF;
}
.cartao__conteudo h3 {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
}
.cartao__conteudo {
    background-color: var(--card-front-color);
    text-align: center;
    /* background-color: aquamarine; */
    height: 100%;
}
.cartao__conteudo__pergunta p {
    color: var(--text-color);
}
.cartao__conteudo__pergunta p {
    color: var(--text-color);
    font-weight: 500;
}

.cartao__conteudo__resposta p {
    color: var(--card-back-color);
    font-weight: 700;
}
.cartao:hover .cartao__conteudo {
    transform: rotateY(180deg);
}
.cartao__conteudo {
    background-color: var(--card-front-color);
    text-align: center;
    /* background-color: aquamarine; */
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}
.cartao__conteudo h3 {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
    backface-visibility: hidden;
}
.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
    backface-visibility: hidden;
}
.cartao__conteudo__resposta {
    transform: rotateY(180deg);
}
.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
    backface-visibility: hidden;
    position: absolute;
}
.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}
.cartao__conteudo p {
    margin-top: 1rem;
    padding: 2rem;
    margin-top: 4rem;
}
.cartao.active .cartao__conteudo {
    transform: rotateY(180deg);
}
body {
    background-color: bisque;
}
   
 footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}
/* código omitido */

#container {
    display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     padding: 4rem;
     gap: 3rem;
}

/* código omitido */
/* código omitido */
footer p {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}
body {
    background-color: rgb(79, 97, 158);
    font-family: Bai Jamjuree;
}
/* código omitido */
.cartao {
    margin: 1rem 1rem;
    background-color: rgb(5, 88, 156);
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}

.cartao__conteudo {
    text-align: center;
    /*background-color: aquamarine;*/
    height: 100%;
}

/* código omitido */
body {
    background: url(file:///C:/Users/pc/Desktop/Nova%20pasta/Nova%20Imagem%20de%20Bitmap.bmp);
    font-family: Bai Jamjuree;
}
:root {
    --text-color: #a1c5f1;
    --card-front-color: #144480;
    --card-back-color: #00F4BF;
}
.cartao__conteudo h3 {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
}
.cartao__conteudo {
    background-color: var(--card-front-color);
    text-align: center;
    /* background-color: aquamarine; */
    height: 100%;
}
.cartao__conteudo__pergunta p {
    color: var(--text-color);
}
.cartao__conteudo__pergunta p {
    color: var(--text-color);
    font-weight: 500;
}

.cartao__conteudo__resposta p {
    color: var(--card-back-color);
    font-weight: 700;
}
.cartao:hover .cartao__conteudo {
    transform: rotateY(180deg);
}
.cartao__conteudo {
    background-color: var(--card-front-color);
    text-align: center;
    /* background-color: aquamarine; */
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}
.cartao__conteudo h3 {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
    backface-visibility: hidden;
}
.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
    backface-visibility: hidden;
}
.cartao__conteudo__resposta {
    transform: rotateY(180deg);
}
.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
    backface-visibility: hidden;
    position: absolute;
}
.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}
.cartao__conteudo p {
    margin-top: 1rem;
    padding: 2rem;
    margin-top: 4rem;
}
.cartao.active .cartao__conteudo {
    transform: rotateY(180deg);
}
/* código omitido */

.cartao__conteudo__resposta{
    transform: rotateY(180deg);
    background-color: var(--card-back-color);
}

/* código omitido */
/* código omitido */

:root {
--text-color: #DBE4EF;
--card-front-color: #144480;
--card-back-color: #00F4BF;
}

/* código omitido */
/* código omitido */

.cartao__conteudo__resposta{
    transform: rotateY(180deg);
    background-color: rdba(0, 244, 191, 1);
}

/* código omitido */
/* código omitido */

.cartao__conteudo__resposta{
    transform: rotateY(180deg);
    background-color: rdba(0, 244, 191, 0.2);
}

/* código omitido */
/* código omitido */

.cartao__conteudo__resposta{
    transform: rotateY(180deg);
    background-color: rdba(0, 244, 191, 0.2);
    border: 4px solid var(--card-back-color);;
}

/* código omitido */
/* código omitido */

.cartao_conteudo_pergunta,
.cartao_conteudo_resposta {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

/* código omitido */
/* código omitido */

.cartao__conteudo p {
    margin-top: 1rem;
    padding: 2rem;
    margin-top: 4rem;
    font-size: 1.4vw;
}

/* código omitido */
/* código omitido */

@media (max-width: 560 px) {

}
/* código omitido */

@media (max-width: 560 px) {

    body {
        background: url('img/bd-mobile.webp');
    }

}
/* código omitido */

@media (max-width: 560 px) {

    body {
        background: url('img/bd-mobile.webp');
    }
    
    .cartao {
        flex: 1 0 calc(100% - 1rem);
    }

}
/* código omitido */

@media (max-width: 560 px) {

    body {
        background: url('img/bd-mobile.webp');
    }
    
    .cartao {
        flex: 1 0 calc(100% - 1rem);
    }
    
    .cartao__conteudo h3 {
        font-size: 3vw;
    }
}
/* código omitido */

@media (max-width: 560 px) {

    body {
        background: url('img/bd-mobile.webp');
    }
    
    .cartao {
        flex: 1 0 calc(100% - 1rem);
    }
    
    .cartao__conteudo h3 {
        font-size: 3vw;
    }
    
    .cartao__conteudo p {
        font-size: 3.8vw;
    }
}
body {
    background-color: rgb(134, 156, 218);
}